.ruleBody{
    width: 100%;
    height: max-content;
    background: rgb(248,249,250);
    padding: 50px 7%;
}

.whitePaper{
    width: 50%;
    height: 820px;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.whitFronts{
    width: 45%;
    height: 720px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid lightgray;
    position: absolute;
    top: 17%;
    left: 18%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ruleshead{
    width: 100%;
    height: max-content;
    padding: 10px;
    font-weight: 600;
}

.rulesText1s{
    width: 92%;
    height: max-content;
    padding: 10px 0;
    color: rgb(63,67,73);
    display: flex;
    gap: 10px;

    & span{
        font-size: 7px;
        margin-top: 5px;
    }
}

.rulesText{
    width: 92%;
    height: max-content;
    border-top: 1px solid gray;
    padding: 20px 0;
    color: rgb(63,67,73);
    display: flex;
    align-items: center;
    gap: 10px;

    & span{
        font-size: 7px;
    }

    & h3{
        font-size: 15px;
    }

    & .ico{
        margin-bottom: 35px;
    }

    & .ico1{
        position: absolute; 
        left: 43px;
        top: 44%; 
    }
    & .ico2{
        position: absolute; 
        left: 43px;
        top: 54%; 
    }
    & .ico3{
        margin-top: 20px;
    }
    & .ico4{
        position: absolute; 
        left: 43px;
        top: 75%; 
    }
}

@media screen and (width <= 575px) {
    .ruleBody{
        width: 100%;
        height: 1400px;
        background: rgb(248,249,250);
        padding: 50px 7%;
        display: flex;
        justify-content: center;
    }
    
    .whitePaper{
        width: 90%;
        height: 1200px;
        background-color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        position: relative; 
    }
    
    .whitFronts{
        width: 110%;
        height: max-content;
        background-color: white;
        border-radius: 10px;
        border: 1px solid lightgray;
        position: absolute;
        top: 6%;
        left: -15px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .ruleshead{
        width: 100%;
        height: max-content;
        padding: 10px;
        font-weight: 600;
    }
    
    .rulesText1s{
        width: 92%;
        height: max-content;
        padding: 10px 0;
        color: rgb(63,67,73);
        display: flex;
        gap: 10px;
        align-items: center;
    
        & span{
            font-size: 7px;
            margin-bottom: 44%;
        }
    }
    
    .rulesText{
        width: 92%;
        height: max-content;
        border-top: 1px solid gray;
        padding: 20px 0;
        color: rgb(63,67,73);
        display: flex;
        align-items: center;
        gap: 10px;
    
        & span{
            font-size: 7px;
        }

        & .ico{
            margin-bottom: 10px;
        }

        & .ico1{
            position: absolute; 
            left: 32px;
            top: 35.5%; 
        }
        & .ico2{
            position: absolute; 
            left: 32px;
            top: 52.7%; 
        }
        & .ico3{
            margin-top: 0px;
        }
        & .ico4{
            position: absolute; 
            left: 32px;
            top: 76.4%; 
        }
    }
    
}